In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_rows', 500)  #help to see all the columns

%matplotlib inline

In [5]:
df_demo = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_demo.txt")
df_pt1 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_1.txt")
df_pt2 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_2.txt")
df_ex_cl = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_experiment_clients.txt")

In [6]:
df_pt1.shape, df_pt2.shape

((343141, 5), (412264, 5))

In [7]:
# Combine df_pt1 & df_pt2
df_web_data = pd.concat([df_pt1, df_pt2], axis=0, ignore_index=True)
df_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [8]:
df_web_data.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [9]:
# Counting and sorting the unique values for numerical column (No. of clients)
df_web_data.select_dtypes("number").nunique().sort_values(ascending=False)

client_id    120157
dtype: int64

In [10]:
# Counting and sorting the unique values for each object (string) column in descending order
df_web_data.select_dtypes("object").nunique().sort_values(ascending=False)

date_time       629363
visit_id        158095
visitor_id      130236
process_step         5
dtype: int64

In [11]:
# Checking for missing data
df_web_data.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

### Day 1 & 2 (Week 5) - Client behavior analysis 
Answer the following questions about demographics:
1. Who are the primary clients using this online process?
2. Are the primary clients younger or older, new or long-standing?
3. Next, carry out a client behaviour analysis to answer any additional relevant questions you think are important.

In [12]:
df_web_data.head(100)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:26
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:26
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:25
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:25
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:09
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:01
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:46
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:42
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:13
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:45
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:16
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:07
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:05
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:58
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:51
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:44
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:03
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:22
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:14
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:02
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,2017-04-04 17:38:39
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:34:03
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:33:55
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:31:32
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:28:44
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,2017-04-04 17:28:35
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,2017-04-04 17:28:18
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,2017-04-05 14:52:34
50,5887227,448202785_26003228044,458489157_53226123692_778999,step_3,2017-04-05 14:50:41
51,5887227,448202785_26003228044,458489157_53226123692_778999,step_2,2017-04-05 14:49:03
52,5887227,448202785_26003228044,458489157_53226123692_778999,step_1,2017-04-05 14:47:36
53,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:46:57
54,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:43
55,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:14
56,2105948,111894218_79248359000,284161492_75966778593_698992,confirm,2017-04-05 14:04:56
57,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 14:00:00
58,2105948,111894218_79248359000,284161492_75966778593_698992,step_2,2017-04-05 13:59:46
59,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 13:58:32
60,2105948,111894218_79248359000,284161492_75966778593_698992,step_2,2017-04-05 13:57:34
61,2105948,111894218_79248359000,284161492_75966778593_698992,step_1,2017-04-05 13:57:11
62,2105948,111894218_79248359000,284161492_75966778593_698992,start,2017-04-05 13:44:36
63,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35
64,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:04:44
65,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:04:14
66,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:03:59
67,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:21:37
68,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:19:47
69,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:08:56
70,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:06:37
71,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:04:56
72,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:04:00
73,9814849,643702528_85907162029,912594178_11107066778_946103,confirm,2017-04-05 11:26:58
74,9814849,643702528_85907162029,912594178_11107066778_946103,step_3,2017-04-05 11:23:58
75,9814849,643702528_85907162029,912594178_11107066778_946103,step_2,2017-04-05 11:22:08
76,9814849,643702528_85907162029,912594178_11107066778_946103,step_1,2017-04-05 11:22:00
77,9814849,643702528_85907162029,912594178_11107066778_946103,start,2017-04-05 11:21:53
78,9814849,643702528_85907162029,912594178_11107066778_946103,start,2017-04-05 11:20:38
79,5407849,419808108_25250476789,370129048_76114952835_698370,confirm,2017-04-05 11:02:44
80,5407849,419808108_25250476789,370129048_76114952835_698370,step_3,2017-04-05 11:02:11
81,5407849,419808108_25250476789,370129048_76114952835_698370,step_2,2017-04-05 11:01:39
82,5407849,419808108_25250476789,370129048_76114952835_698370,step_1,2017-04-05 11:01:34
83,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:01:32
84,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:01:00
85,5407849,419808108_25250476789,370129048_76114952835_698370,step_1,2017-04-05 11:00:18
86,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:00:10
87,7286739,450196013_75056881844,841652923_56424358687_156740,step_3,2017-04-05 19:07:39
88,7286739,450196013_75056881844,841652923_56424358687_156740,step_2,2017-04-05 19:05:59
89,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:05:54
90,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 19:04:57
91,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 19:02:16
92,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:02:07
93,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:02:04
94,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:01:45
95,7286739,450196013_75056881844,841652923_56424358687_156740,step_2,2017-04-05 19:00:54
96,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:00:46
97,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 19:00:14
98,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 18:51:34
99,4446011,863538055_51523102542,607683472_36133221698_258790,confirm,2017-04-03 09:18:05

In [22]:
# 3)For each client_id how many unique visit_id(how often this client used my product)
unique_visitors = df_web_data.groupby('client_id')[["visitor_id"]].nunique()
unique_visitors.sort_values(by='visitor_id', ascending = False)

           visitor_id
client_id
9008485            14
8167818            13
323753             11
1771611            11
6305830            11
...               ...
3507622             1
3507472             1
3507471             1
3507329             1
9999875             1

[120157 rows x 1 columns]

In [23]:
# check for a specific client
filtered_df = df_web_data[df_web_data['client_id'] == 3507622]
filtered_df

,client_id,visitor_id,visit_id,process_step,date_time
330475,3507622,148416425_77477829360,673812863_1698414711_886709,start,2017-04-13 17:47:17
330514,3507622,148416425_77477829360,942460915_48201821382_330022,confirm,2017-04-13 22:33:09
330515,3507622,148416425_77477829360,942460915_48201821382_330022,step_3,2017-04-13 22:31:59
330516,3507622,148416425_77477829360,942460915_48201821382_330022,step_2,2017-04-13 22:31:10
330517,3507622,148416425_77477829360,942460915_48201821382_330022,step_1,2017-04-13 22:31:06
330518,3507622,148416425_77477829360,942460915_48201821382_330022,start,2017-04-13 22:31:01

In [26]:
# 4)How many times this client go to confirm prosess 
# Generating a crosstab for 'client_id' and 'process_step'
df_web_data_crosstab = pd.crosstab(df_web_data['client_id'], df_web_data['process_step'])
df_web_data_crosstab.sort_values(by='confirm', ascending = False).head(15)

process_step  confirm  start  step_1  step_2  step_3
client_id
7347761            24      5       5       1       1
8167818            23      9       3       1       1
4127054            20      3       1       1       1
8374531            20     10       3       1       1
244312             19      1       1       1       1
465007             19     21      12      11       9
8047921            17      6       5       5       7
1637369            17      0       0       0       0
8290360            17      1       1       0       0
5836024            17      2       2       1       1
5574879            17      2      42      25      25
9294984            16      1       1       1       1
6556668            16      0       0       0       0
6913727            16      1       1       1       1
1034465            16      8       8       8       8

In [ ]:
# 4)How many times this client go to confirm prosess