In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
pd.set_option('display.max_rows', 500)  #help to see all the columns

%matplotlib inline

In [2]:
df_demo = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_demo.txt")
df_pt1 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_1.txt")
df_pt2 = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_web_data_pt_2.txt")
df_ex_cl = pd.read_csv("https://raw.githubusercontent.com/AncaAl/Project-2-EDA/main/data/df_final_experiment_clients.txt")

### Clean DataFrames

In [3]:
df_pt1.shape, df_pt2.shape

((343141, 5), (412264, 5))

In [4]:
# Combine df_pt1 & df_pt2
df_web_data = pd.concat([df_pt1, df_pt2], axis=0, ignore_index=True)
df_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [5]:
df_web_data.dtypes

client_id        int64
visitor_id      object
visit_id        object
process_step    object
date_time       object
dtype: object

In [6]:
# Counting and sorting the unique values for numerical column (No. of clients)
df_web_data.select_dtypes("number").nunique().sort_values(ascending=False)

client_id    120157
dtype: int64

In [7]:
# Counting and sorting the unique values for each object (string) column in descending order
df_web_data.select_dtypes("object").nunique().sort_values(ascending=False)

date_time       629363
visit_id        158095
visitor_id      130236
process_step         5
dtype: int64

In [8]:
# Checking for missing data
df_web_data.isnull().sum().sort_values(ascending=False)

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

In [9]:
df_web_data['date_time'] = pd.to_datetime(df_web_data['date_time'])

# Display the DataFrame with updated data types
print("\nDataFrame with updated data types:")
print(df_web_data.dtypes)

DataFrame with updated data types:
client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

**df_demo DataFrame**

In [10]:
df_demo.dtypes

#Client ID is not an intiger that we do mathematichal operation. 
#Can year be a float value? The same wit month: check this data types
#gender is an object but we have m,f,u :whenewer you want to do an analyses with gender, check unknown genders
#number of acsess should be definetely  integer
#balance is float
#call of and logons columns should be intiger

client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

In [11]:
#Finding the null values :
df_demo.isnull().sum()

client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [12]:
# Filter the DataFrame to show only rows where 'category' column has null values
null_rows_category = df_demo[df_demo['clnt_tenure_yr'].isnull()]

print("Rows with null values in 'clnt_tenure_yr' column:")
print(null_rows_category)

Rows with null values in 'clnt_tenure_yr' column:
       client_id  clnt_tenure_yr  clnt_tenure_mnth  clnt_age gendr  num_accts  \
4164     7402828             NaN               NaN       NaN   NaN        NaN
8316      355337             NaN               NaN       NaN   NaN        NaN
8677     8412164             NaN               NaN       NaN   NaN        NaN
13444    2222915             NaN               NaN       NaN   NaN        NaN
18066    4876926             NaN               NaN       NaN   NaN        NaN
25961    5277910             NaN               NaN       NaN   NaN        NaN
28432    7616759             NaN               NaN       NaN   NaN        NaN
35323    8191345             NaN               NaN       NaN   NaN        NaN
43518    1227228             NaN               NaN       NaN   NaN        NaN
46076    8611797             NaN               NaN       NaN   NaN        NaN
47189    5144725             NaN               NaN       NaN   NaN        NaN
49846    1037867             NaN               NaN       NaN   NaN        NaN
63701    1618749             NaN               NaN       NaN   NaN        NaN
66219    6021001             NaN               NaN       NaN   NaN        NaN

       bal  calls_6_mnth  logons_6_mnth
4164   NaN           NaN            NaN
8316   NaN           NaN            NaN
8677   NaN           NaN            NaN
13444  NaN           NaN            NaN
18066  NaN           NaN            NaN
25961  NaN           NaN            NaN
28432  NaN           NaN            NaN
35323  NaN           NaN            NaN
43518  NaN           NaN            NaN
46076  NaN           NaN            NaN
47189  NaN           NaN            NaN
49846  NaN           NaN            NaN
63701  NaN           NaN            NaN
66219  NaN           NaN            NaN

In [13]:
#After cleaning, finding null values: there iss just one client age value is missing.Lets replace it with avarage client age
df_demo.dropna(subset=['clnt_tenure_yr'], inplace=True)
null_counts = df_demo.isnull().sum()
null_counts

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            1
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

In [14]:
mean_age = df_demo["clnt_age"].mean()
df_demo['clnt_age'].fillna(mean_age, inplace=True)
df_demo.isnull().sum()

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

**dataframe: df_ec_client cleaning**

- This data frame has two columns_client_id and variation. 
- In variation columns we can see if this client belongs to test or contol group.

In [15]:
#I am dropping all the null values 
df_ex_cl.dropna(inplace=True)

In [16]:
df_var_group = df_ex_cl.groupby("Variation")

In [17]:
# Iterate over each group and print the client_id in each group
for key, group in df_var_group:
    print(f"Variation: {key}")
    print(group[['client_id']])
    print()

Variation: Control
       client_id
2        4033851
4        9294070
7        6651403
9        2105948
12       9814849
...          ...
50491    4364429
50493    8730282
50494    5305116
50495     393005
50496    2908510

[23532 rows x 1 columns]

Variation: Test
       client_id
0        9988021
1        8320017
3        1982004
5        9466803
6        3170143
...          ...
50490    5969816
50492    8692087
50497    7230446
50498    5230357
50499    6334360

[26968 rows x 1 columns]

### Day 1 & 2 (Week 5) - Client behavior analysis 
Answer the following questions about demographics:
1. Who are the primary clients using this online process?
2. Are the primary clients younger or older, new or long-standing?
3. Next, carry out a client behaviour analysis to answer any additional relevant questions you think are important.

In [18]:
df_web_data.head(100)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:26
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:26
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:25
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:25
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:09
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:01
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:46
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:42
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:13
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:45
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:16
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:07
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:05
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:58
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:51
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:44
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:03
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:22
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:14
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:02
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,2017-04-04 17:38:39
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:34:03
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:33:55
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:31:32
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:28:44
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,2017-04-04 17:28:35
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,2017-04-04 17:28:18
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,2017-04-05 14:52:34
50,5887227,448202785_26003228044,458489157_53226123692_778999,step_3,2017-04-05 14:50:41
51,5887227,448202785_26003228044,458489157_53226123692_778999,step_2,2017-04-05 14:49:03
52,5887227,448202785_26003228044,458489157_53226123692_778999,step_1,2017-04-05 14:47:36
53,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:46:57
54,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:43
55,5887227,448202785_26003228044,458489157_53226123692_778999,start,2017-04-05 14:45:14
56,2105948,111894218_79248359000,284161492_75966778593_698992,confirm,2017-04-05 14:04:56
57,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 14:00:00
58,2105948,111894218_79248359000,284161492_75966778593_698992,step_2,2017-04-05 13:59:46
59,2105948,111894218_79248359000,284161492_75966778593_698992,step_3,2017-04-05 13:58:32
60,2105948,111894218_79248359000,284161492_75966778593_698992,step_2,2017-04-05 13:57:34
61,2105948,111894218_79248359000,284161492_75966778593_698992,step_1,2017-04-05 13:57:11
62,2105948,111894218_79248359000,284161492_75966778593_698992,start,2017-04-05 13:44:36
63,438567,923318467_50708963627,711884648_43943594307_585328,step_1,2017-04-05 16:06:35
64,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:04:44
65,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:04:14
66,438567,923318467_50708963627,711884648_43943594307_585328,start,2017-04-05 16:03:59
67,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:21:37
68,2519971,121616091_57089151674,428599802_30402877972_724989,confirm,2017-04-10 16:19:47
69,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:08:56
70,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:06:37
71,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:04:56
72,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:04:00
73,9814849,643702528_85907162029,912594178_11107066778_946103,confirm,2017-04-05 11:26:58
74,9814849,643702528_85907162029,912594178_11107066778_946103,step_3,2017-04-05 11:23:58
75,9814849,643702528_85907162029,912594178_11107066778_946103,step_2,2017-04-05 11:22:08
76,9814849,643702528_85907162029,912594178_11107066778_946103,step_1,2017-04-05 11:22:00
77,9814849,643702528_85907162029,912594178_11107066778_946103,start,2017-04-05 11:21:53
78,9814849,643702528_85907162029,912594178_11107066778_946103,start,2017-04-05 11:20:38
79,5407849,419808108_25250476789,370129048_76114952835_698370,confirm,2017-04-05 11:02:44
80,5407849,419808108_25250476789,370129048_76114952835_698370,step_3,2017-04-05 11:02:11
81,5407849,419808108_25250476789,370129048_76114952835_698370,step_2,2017-04-05 11:01:39
82,5407849,419808108_25250476789,370129048_76114952835_698370,step_1,2017-04-05 11:01:34
83,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:01:32
84,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:01:00
85,5407849,419808108_25250476789,370129048_76114952835_698370,step_1,2017-04-05 11:00:18
86,5407849,419808108_25250476789,370129048_76114952835_698370,start,2017-04-05 11:00:10
87,7286739,450196013_75056881844,841652923_56424358687_156740,step_3,2017-04-05 19:07:39
88,7286739,450196013_75056881844,841652923_56424358687_156740,step_2,2017-04-05 19:05:59
89,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:05:54
90,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 19:04:57
91,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 19:02:16
92,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:02:07
93,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:02:04
94,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:01:45
95,7286739,450196013_75056881844,841652923_56424358687_156740,step_2,2017-04-05 19:00:54
96,7286739,450196013_75056881844,841652923_56424358687_156740,step_1,2017-04-05 19:00:46
97,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 19:00:14
98,7286739,450196013_75056881844,841652923_56424358687_156740,start,2017-04-05 18:51:34
99,4446011,863538055_51523102542,607683472_36133221698_258790,confirm,2017-04-03 09:18:05

In [19]:
# 3)For each client_id how many unique visit_id(how often this client used my product)
unique_visitors = df_web_data.groupby('client_id')[["visitor_id"]].nunique()
unique_visitors.sort_values(by='visitor_id', ascending = False)

           visitor_id
client_id
9008485            14
8167818            13
323753             11
1771611            11
6305830            11
...               ...
3507622             1
3507472             1
3507471             1
3507329             1
9999875             1

[120157 rows x 1 columns]

In [20]:
df_web_data.shape

(755405, 5)

In [21]:
#drop the duplicates
df_web_data.drop_duplicates(inplace=True)

In [22]:
df_web_data.shape

(744641, 5)

In [23]:
# check for a specific client
filtered_df = df_web_data[df_web_data['client_id'] == 8167818]
filtered_df

,client_id,visitor_id,visit_id,process_step,date_time
520694,8167818,408068237_36441293491,628111712_75259224121_53536,confirm,2017-06-14 20:02:58
520695,8167818,408068237_36441293491,628111712_75259224121_53536,step_3,2017-06-14 20:01:39
520696,8167818,408068237_36441293491,628111712_75259224121_53536,step_2,2017-06-14 20:00:55
520697,8167818,408068237_36441293491,628111712_75259224121_53536,step_1,2017-06-14 19:59:14
520698,8167818,408068237_36441293491,628111712_75259224121_53536,start,2017-06-14 19:58:49
520699,8167818,408068237_36441293491,628111712_75259224121_53536,start,2017-06-14 19:58:02
520700,8167818,408068237_36441293491,628111712_75259224121_53536,start,2017-06-14 19:57:19
520707,8167818,240032060_98488796800,411165344_63935668616_403511,confirm,2017-06-20 12:16:01
520708,8167818,240032060_98488796800,411165344_63935668616_403511,confirm,2017-06-20 12:00:55
520709,8167818,168041933_75925214831,895134276_26921663185_898728,confirm,2017-06-20 11:00:00
520710,8167818,168041933_75925214831,895134276_26921663185_898728,start,2017-06-20 10:59:33
520712,8167818,168041933_75925214831,895134276_26921663185_898728,step_1,2017-06-20 10:59:14
520713,8167818,168041933_75925214831,895134276_26921663185_898728,start,2017-06-20 10:58:52
520715,8167818,168041933_75925214831,895134276_26921663185_898728,step_1,2017-06-20 10:58:23
520716,8167818,168041933_75925214831,895134276_26921663185_898728,start,2017-06-20 10:56:53
520725,8167818,799741781_792865381,534358556_65420535811_429418,confirm,2017-06-20 18:26:47
520737,8167818,635930931_51379224080,288215629_62163855921_384664,confirm,2017-06-19 08:54:56
520739,8167818,480650020_9877994673,520217471_5674672687_606460,confirm,2017-06-20 21:02:29
520742,8167818,32116677_76976293259,857003471_46023700697_984643,confirm,2017-06-18 19:48:33
520748,8167818,11967600_6921013381,880959628_44876623391_319236,confirm,2017-06-19 21:21:27
520789,8167818,781509223_85498244649,808442440_51420110924_69540,confirm,2017-06-16 12:03:04
520790,8167818,781509223_85498244649,808442440_51420110924_69540,confirm,2017-06-16 11:57:38
520791,8167818,781509223_85498244649,808442440_51420110924_69540,confirm,2017-06-16 11:56:55
520792,8167818,781509223_85498244649,808442440_51420110924_69540,confirm,2017-06-16 11:56:21
520793,8167818,781509223_85498244649,808442440_51420110924_69540,confirm,2017-06-16 11:54:23
520794,8167818,781509223_85498244649,808442440_51420110924_69540,confirm,2017-06-16 11:53:20
520795,8167818,645810434_53103151293,418138129_8007958316_936744,confirm,2017-06-16 11:43:31
520796,8167818,645810434_53103151293,418138129_8007958316_936744,confirm,2017-06-16 11:41:05
520797,8167818,645810434_53103151293,418138129_8007958316_936744,confirm,2017-06-16 11:32:43
520798,8167818,645810434_53103151293,418138129_8007958316_936744,confirm,2017-06-16 11:30:59
520803,8167818,322894733_43506695623,662853467_57924229116_335466,confirm,2017-06-16 13:05:35
520804,8167818,241402329_11777034748,343313665_8847327870_302799,confirm,2017-06-16 12:50:39
520805,8167818,241402329_11777034748,343313665_8847327870_302799,confirm,2017-06-16 12:44:48
520823,8167818,134701971_88783455550,253905988_82816296934_921881,confirm,2017-06-17 19:41:15

In [24]:
# 4)How many times this client go to confirm prosess 
# Generating a crosstab for 'client_id' and 'process_step'
df_web_data_crosstab = pd.crosstab(df_web_data['client_id'], df_web_data['process_step'])
df_web_data_crosstab.sort_values(by='confirm', ascending = False).head(15)

process_step  confirm  start  step_1  step_2  step_3
client_id
8167818            23      6       3       1       1
4127054            20      3       1       1       1
8374531            20     10       3       1       1
465007             19     21      12      11       9
244312             19      1       1       1       1
8047921            17      6       5       5       7
8290360            17      1       1       0       0
5836024            17      2       2       1       1
1637369            17      0       0       0       0
4719244            16      1       1       1       1
7818040            16      0       0       0       1
6556668            16      0       0       0       0
9294984            16      1       1       1       1
6913727            16      1       1       1       1
2497343            15      3       2       3       2

In [25]:
# 4)How many times this client go to confirm prosess

## Day 3 (Week 5)
For the project requirements and instructions for todayâ€™s tasks in full, please refer to the project brief. However, in order to keep on track you may refer to the daily goals outlined below:
By the end of day, we recommend you have:
- Reviewed KPI and Metrics material.
- Discovered what key performance indicators (KPIs) will determine the success of the new design
    - Use at least **completion rate, time spent on each step and error rates**. Add any KPIs you might find relevant.
        - **Completion Rate:** The proportion of users who reach the final â€˜confirmâ€™ step.
        - **Time Spent on Each Step:** The average duration users spend on each step.
        - **Error Rates:** If thereâ€™s a step where users go back to a previous step, it may indicate confusion or an error. You should consider moving from a later step to an earlier one as an error.
- Evaluated how the new designâ€™s performance compare to the old one, given the chosen KPIs (completion rate, time spent on each step and error rates).

<u>**Completion Rate**</u>: The proportion of users who reach the final â€˜confirmâ€™ step.

In [26]:
# Frequency table for 'process_step'
frequency_table = df_web_data['process_step'].value_counts()

# Calculating the proportion of each unique value in the 'process_step'
proportion_table = df_web_data['process_step'].value_counts(normalize=True)

frequency_table, proportion_table

(process_step
 start      234999
 step_1     162797
 step_2     132750
 step_3     111589
 confirm    102506
 Name: count, dtype: int64,
 process_step
 start      0.315587
 step_1     0.218625
 step_2     0.178274
 step_3     0.149856
 confirm    0.137658
 Name: proportion, dtype: float64)

The frequency table gives the count of each process step, while the proportion table provides the percentage representation of each process step in the dataset. This helps to quickly identify dominant and minority categories.

<u>**Time Spent on Each Step**</u>: The average duration users spend on each step.

In [34]:
# Merge the df_web_data and df_ex_cl DataFrames on the 'Date' column (inner join)
# Only rows with a common value in the 'Date' column, present in both DataFrames, are included in the merged result.

df_web_data_v = pd.merge(df_web_data, df_ex_cl, on='client_id')
df_web_data_v

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test
...,...,...,...,...,...,...
317230,1574008,117364417_77840596075,528720790_71583064618_169151,start,2017-05-06 23:43:27,Test
317231,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:57:17,Control
317232,2908510,814969699_90652851448,562606085_36368381773_92090,step_2,2017-05-10 22:56:31,Control
317233,2908510,814969699_90652851448,562606085_36368381773_92090,step_1,2017-05-10 22:56:23,Control
317234,2908510,814969699_90652851448,562606085_36368381773_92090,start,2017-05-10 22:56:20,Control

In [56]:
# Sort by 'visit_id' and 'date_time'
df_web_data_v = df_web_data_v.sort_values(by=['visit_id', 'date_time'])

# Calculate the time difference between consecutive steps within each visit_id
df_web_data_v['time_diff'] = df_web_data_v.groupby('visit_id')['date_time'].diff()

# Assign time spent to each step
df_time_spent = df_web_data_v.groupby(['process_step','Variation'])['time_diff'].mean()

# Rename columns for clarity
df_time_spent.columns = ['process_step', 'average_time_spent']

print(df_time_spent)

process_step  Variation
confirm       Control     0 days 00:02:09.976828385
              Test        0 days 00:02:09.583040777
start         Control     0 days 00:02:57.226089339
              Test        0 days 00:02:32.885004599
step_1        Control     0 days 00:00:43.180969957
              Test        0 days 00:00:37.773990820
step_2        Control     0 days 00:00:38.838146459
              Test        0 days 00:00:48.272585264
step_3        Control     0 days 00:01:34.159650694
              Test        0 days 00:01:37.356254658
Name: time_diff, dtype: timedelta64[ns]

<u>**Error Rates**</u>: If thereâ€™s a step where users go back to a previous step, it may indicate confusion or an error. You should consider moving from a later step to an earlier one as an error.

In [63]:
df_web_data_v.head(100)

,client_id,visitor_id,visit_id,process_step,date_time,Variation,time_diff
115418,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:22:17,Test,NaT
115417,3561384,451664975_1722933822,100012776_37918976071_457913,confirm,2017-04-26 13:23:09,Test,0 days 00:00:52
254660,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:20:56,Test,NaT
254659,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:12,Test,0 days 00:00:16
254658,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:21:21,Test,0 days 00:00:09
254657,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:35,Test,0 days 00:00:14
254656,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:21:41,Test,0 days 00:00:06
254655,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:45,Test,0 days 00:00:04
254654,7338123,612065484_94198474375,100019538_17884295066_43909,start,2017-04-09 16:21:59,Test,0 days 00:00:14
254653,7338123,612065484_94198474375,100019538_17884295066_43909,step_1,2017-04-09 16:22:04,Test,0 days 00:00:05
254652,7338123,612065484_94198474375,100019538_17884295066_43909,step_2,2017-04-09 16:22:08,Test,0 days 00:00:04
254651,7338123,612065484_94198474375,100019538_17884295066_43909,step_3,2017-04-09 16:24:01,Test,0 days 00:01:53
254650,7338123,612065484_94198474375,100019538_17884295066_43909,confirm,2017-04-09 16:24:58,Test,0 days 00:00:57
261478,2478628,754122351_18568832435,100022086_87870757897_149620,start,2017-05-23 20:44:01,Test,NaT
261477,2478628,754122351_18568832435,100022086_87870757897_149620,step_1,2017-05-23 20:44:23,Test,0 days 00:00:22
261476,2478628,754122351_18568832435,100022086_87870757897_149620,step_2,2017-05-23 20:45:08,Test,0 days 00:00:45
261475,2478628,754122351_18568832435,100022086_87870757897_149620,step_3,2017-05-23 20:46:01,Test,0 days 00:00:53
261474,2478628,754122351_18568832435,100022086_87870757897_149620,confirm,2017-05-23 20:47:01,Test,0 days 00:01:00
253469,105007,676020267_36602664238,100030127_47967100085_936361,start,2017-03-22 11:07:49,Control,NaT
29348,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:41:51,Control,NaT
29347,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:43:16,Control,0 days 00:01:25
29346,5623007,700426174_33289797318,100037962_47432393712_705583,step_1,2017-04-14 16:43:55,Control,0 days 00:00:39
29345,5623007,700426174_33289797318,100037962_47432393712_705583,start,2017-04-14 16:44:03,Control,0 days 00:00:08
1705,4823947,611052344_43146965242,100057941_88477660212_944512,start,2017-04-09 11:30:10,Control,NaT
1704,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:30:40,Control,0 days 00:00:30
1703,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:31:50,Control,0 days 00:01:10
1702,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:32:54,Control,0 days 00:01:04
1701,4823947,611052344_43146965242,100057941_88477660212_944512,step_1,2017-04-09 11:33:21,Control,0 days 00:00:27
1700,4823947,611052344_43146965242,100057941_88477660212_944512,step_2,2017-04-09 11:33:58,Control,0 days 00:00:37
1699,4823947,611052344_43146965242,100057941_88477660212_944512,step_3,2017-04-09 11:34:24,Control,0 days 00:00:26
256763,3479519,194422203_56127484794,10006594_66157970412_679648,start,2017-04-13 11:50:18,Control,NaT
256762,3479519,194422203_56127484794,10006594_66157970412_679648,step_1,2017-04-13 11:50:28,Control,0 days 00:00:10
256761,3479519,194422203_56127484794,10006594_66157970412_679648,step_2,2017-04-13 11:50:38,Control,0 days 00:00:10
256760,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:52:02,Control,0 days 00:01:24
256759,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:11,Control,0 days 00:04:09
256757,3479519,194422203_56127484794,10006594_66157970412_679648,confirm,2017-04-13 11:56:12,Control,0 days 00:00:01
256758,3479519,194422203_56127484794,10006594_66157970412_679648,step_3,2017-04-13 11:56:12,Control,0 days 00:00:00
222670,3432704,118095622_91258648673,100071743_53464757454_616703,start,2017-04-07 10:50:20,Control,NaT
310246,5477656,164180384_39691984082,10007589_47780784567_391490,start,2017-05-18 07:51:32,Control,NaT
310245,5477656,164180384_39691984082,10007589_47780784567_391490,step_1,2017-05-18 07:54:19,Control,0 days 00:02:47
310244,5477656,164180384_39691984082,10007589_47780784567_391490,step_2,2017-05-18 07:55:05,Control,0 days 00:00:46
310243,5477656,164180384_39691984082,10007589_47780784567_391490,step_3,2017-05-18 07:58:06,Control,0 days 00:03:01
310242,5477656,164180384_39691984082,10007589_47780784567_391490,confirm,2017-05-18 08:03:33,Control,0 days 00:05:27
264660,8306812,987870350_90903222476,100096068_8301717872_987164,start,2017-05-22 18:15:01,Control,NaT
264659,8306812,987870350_90903222476,100096068_8301717872_987164,step_1,2017-05-22 18:15:14,Control,0 days 00:00:13
128841,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:17,Control,NaT
128840,9852814,445403329_35219697304,100105975_18174738494_196339,start,2017-04-10 06:30:30,Control,0 days 00:00:13
59545,8631696,429350107_31978453627,100173292_91322748906_143563,start,2017-04-25 10:28:55,Test,NaT
59544,8631696,429350107_31978453627,100173292_91322748906_143563,step_1,2017-04-25 10:29:06,Test,0 days 00:00:11
59543,8631696,429350107_31978453627,100173292_91322748906_143563,step_2,2017-04-25 10:29:14,Test,0 days 00:00:08
59542,8631696,429350107_31978453627,100173292_91322748906_143563,step_3,2017-04-25 10:30:02,Test,0 days 00:00:48
59541,8631696,429350107_31978453627,100173292_91322748906_143563,confirm,2017-04-25 10:30:30,Test,0 days 00:00:28
63345,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:40:15,Control,NaT
63344,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:40:35,Control,0 days 00:00:20
63343,8050938,126612290_95174242254,100195539_90558871716_822894,start,2017-03-30 10:46:04,Control,0 days 00:05:29
63342,8050938,126612290_95174242254,100195539_90558871716_822894,step_1,2017-03-30 10:46:18,Control,0 days 00:00:14
18392,9341024,750259984_64435904859,100217156_67053490690_383412,start,2017-04-12 11:51:12,Test,NaT
18391,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:51:48,Test,0 days 00:00:36
18390,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 11:54:48,Test,0 days 00:03:00
18389,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 11:57:21,Test,0 days 00:02:33
18388,9341024,750259984_64435904859,100217156_67053490690_383412,step_3,2017-04-12 11:57:59,Test,0 days 00:00:38
18387,9341024,750259984_64435904859,100217156_67053490690_383412,step_1,2017-04-12 12:03:47,Test,0 days 00:05:48
18386,9341024,750259984_64435904859,100217156_67053490690_383412,step_2,2017-04-12 12:03:58,Test,0 days 00:00:11
18385,9341024,750259984_64435904859,100217156_67053490690_383412,step_3,2017-04-12 12:05:37,Test,0 days 00:01:39
18384,9341024,750259984_64435904859,100217156_67053490690_383412,confirm,2017-04-12 12:08:09,Test,0 days 00:02:32
69016,6002181,203800014_3409544458,100221419_95702886123_228743,start,2017-04-09 07:22:29,Test,NaT
139999,3852267,662624447_15868585035,10024125_38177552152_999695,start,2017-05-01 09:03:30,Control,NaT
139998,3852267,662624447_15868585035,10024125_38177552152_999695,step_1,2017-05-01 09:03:51,Control,0 days 00:00:21
311023,9250886,507768762_35972844065,100253265_79786188559_15799,start,2017-06-04 18:50:58,Test,NaT
311022,9250886,507768762_35972844065,100253265_79786188559_15799,step_1,2017-06-04 18:51:59,Test,0 days 00:01:01
311021,9250886,507768762_35972844065,100253265_79786188559_15799,step_2,2017-06-04 18:52:16,Test,0 days 00:00:17
311020,9250886,507768762_35972844065,100253265_79786188559_15799,step_3,2017-06-04 18:53:12,Test,0 days 00:00:56
157177,984526,101850349_35918274798,100254180_47139859079_984581,start,2017-04-05 21:42:02,Control,NaT
157176,984526,101850349_35918274798,100254180_47139859079_984581,step_1,2017-04-05 21:42:54,Control,0 days 00:00:52
157175,984526,101850349_35918274798,100254180_47139859079_984581,step_2,2017-04-05 21:43:46,Control,0 days 00:00:52
157174,984526,101850349_35918274798,100254180_47139859079_984581,step_3,2017-04-05 21:44:43,Control,0 days 00:00:57
157173,984526,101850349_35918274798,100254180_47139859079_984581,confirm,2017-04-05 21:47:43,Control,0 days 00:03:00
230268,1562128,297078435_42288608841,100258507_71262593004_214494,start,2017-03-29 12:32:39,Test,NaT
230267,1562128,297078435_42288608841,100258507_71262593004_214494,start,2017-03-29 12:34:17,Test,0 days 00:01:38
230266,1562128,297078435_42288608841,100258507_71262593004_214494,start,2017-03-29 12:35:57,Test,0 days 00:01:40
230265,1562128,297078435_42288608841,100258507_71262593004_214494,step_1,2017-03-29 12:36:09,Test,0 days 00:00:12
230264,1562128,297078435_42288608841,100258507_71262593004_214494,start,2017-03-29 12:37:24,Test,0 days 00:01:15
230263,1562128,297078435_42288608841,100258507_71262593004_214494,start,2017-03-29 12:38:58,Test,0 days 00:01:34
230262,1562128,297078435_42288608841,100258507_71262593004_214494,step_1,2017-03-29 12:39:06,Test,0 days 00:00:08
230261,1562128,297078435_42288608841,100258507_71262593004_214494,start,2017-03-29 12:42:40,Test,0 days 00:03:34
230260,1562128,297078435_42288608841,100258507_71262593004_214494,start,2017-03-29 12:43:41,Test,0 days 00:01:01
230259,1562128,297078435_42288608841,100258507_71262593004_214494,step_1,2017-03-29 12:43:44,Test,0 days 00:00:03
230258,1562128,297078435_42288608841,100258507_71262593004_214494,step_2,2017-03-29 12:47:12,Test,0 days 00:03:28
230257,1562128,297078435_42288608841,100258507_71262593004_214494,step_3,2017-03-29 12:47:41,Test,0 days 00:00:29
230256,1562128,297078435_42288608841,100258507_71262593004_214494,confirm,2017-03-29 12:48:24,Test,0 days 00:00:43
230255,1562128,297078435_42288608841,100258507_71262593004_214494,confirm,2017-03-29 12:49:16,Test,0 days 00:00:52
230254,1562128,297078435_42288608841,100258507_71262593004_214494,confirm,2017-03-29 12:49:32,Test,0 days 00:00:16
196708,8976740,417178847_68724546639,100293270_70949014562_696814,start,2017-04-18 14:13:51,Test,NaT
196707,8976740,417178847_68724546639,100293270_70949014562_696814,step_1,2017-04-18 14:14:02,Test,0 days 00:00:11
196706,8976740,417178847_68724546639,100293270_70949014562_696814,step_2,2017-04-18 14:15:40,Test,0 days 00:01:38
196705,8976740,417178847_68724546639,100293270_70949014562_696814,step_3,2017-04-18 14:16:30,Test,0 days 00:00:50
196704,8976740,417178847_68724546639,100293270_70949014562_696814,confirm,2017-04-18 14:17:20,Test,0 days 00:00:50
23039,7760839,111195013_39389847324,10029965_1592382589_593999,start,2017-04-20 12:28:02,Test,NaT
23038,7760839,111195013_39389847324,10029965_1592382589_593999,step_1,2017-04-20 12:29:09,Test,0 days 00:01:07
226815,7224020,749093873_67448715439,100309269_21684743336_936307,start,2017-04-16 06:19:54,Control,NaT

In [61]:
a = df_web_data_v[df_web_data_v['visit_id'] == 100019538_17884295066_43909]
a

Empty DataFrame
Columns: [client_id, visitor_id, visit_id, process_step, date_time, Variation, time_diff]
Index: []